<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenGLImageTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>272293301EBC1D0900F99C56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>272293491EBC1D0A00F99C56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>272293541EBC1D0A00F99C56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
